<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Karakükatür Api</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <%- include('header') -%>
    <div class="container">
        <h1> Data Listesi</h1>
        <hr>
            <div class="card" style="width: 18rem;">
                    <ul class="list-group">
                        <% data.forEach(function(item) { %>
                            <li class="list-group-item"><%= item.id %> - <%= item.name %></li>
                        <% }); %>
                        </ul>
                </div>
      </div>
    
</body>
</html>